article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.contribuidor {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 16rem;
    background-color: #ddd;
    text-align: center;
    border-radius: 15px;
    padding: 1rem;
}

img {
    border-radius: 5px;
}

h2 {
    text-align: center;
}

/* responsividade -  */

@media (max-width: 768px) {
    article {
        grid-template-columns: 1fr;
    }
}
